
 <div class="container ">
  <h1>
    Welcome to Playback Demo!
  </h1>

  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2" role="group" aria-label="First group">
      <button type="button" class="btn btn-primary btn-block" (click)="play()">Play History</button>
    </div>
    <div class="btn-group me-2" role="group" aria-label="Second group">
      <button type="button" class="btn btn-primary btn-block" (click)="stop()">Stop History</button>
    </div>
  </div>
    
  <div id="route_map" class="mt-2"></div>

  <mat-slider class="w-100 text-primary primary" min="1" max="5" step="1" [value]="numberOfOrder" disabled (input)="onInputChange($event)"></mat-slider>

  <div>
    ระยะทาง {{totalKm | number : '1.2-2' }} KM.
  </div>
</div>