
 <div class="container ">
  <h1>
    Welcome to Playback Demo!
  </h1>

  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2" role="group" aria-label="First group">

      <button type="button" class="btn btn-outline-primary" (click)="play(action =='start'?'stop':'start')">

        <i class="fa fa-play px-3" *ngIf="action == 'stop'"></i>
        <i class="fa fa-stop px-3" *ngIf="action == 'start'"></i>

      </button>
    </div>
  </div>
    
  <div id="route_map" class="my-2"></div>
  

  <mat-slider class="w-100 text-primary primary px-0" min="0" max="4" step="1" thumbLabel [displayWith]="formatLabel" [value]="numberOfOrder" (input)="onInputChange($event)"></mat-slider>

  <div>
    ระยะทาง {{totalKm | number : '1.2-2' }} KM.
  </div>
</div>